
//color
$color-primary:#58e1c1;
$color-secondary:#777; 
$white:#fff;
$error:#e4757a;
$info:#927bc1;
$success:#63cc82;
$warning:#fd7856;
 $btn: lighten(green,15%);

//Font Stack
$font-sans-serif:  sans-serif;
$helvetica:'Lato', $font-sans-serif;

//flex
$flex:100% ;

//media query 

$brk-narrow : '(min-width: 768px)';

//margin 

$mrg-left: 10px;