/* ============================================= */
/*              Images                           */
/* ============================================= */
.img {
&-avatar {
  @include display; 
    max-height: 100%;
  }
  
  &-frame {
   @include display;
   @include img;  
    padding: 13px;
    border: 1px solid #ccc;
  }
  
  &-logo {
  @include display;
}
}